.sf-address-book-alt{background-image:image-url("sf/address-book-alt.svg")!important;}
.sf-address-book{background-image:image-url("sf/address-book.svg")!important;}
.sf-bag{background-image:image-url("sf/bag.svg")!important;}
.sf-basket{background-image:image-url("sf/basket.svg")!important;}
.sf-beer{background-image:image-url("sf/beer.svg")!important;}
.sf-bell{background-image:image-url("sf/bell.svg")!important;}
.sf-bitcoin{background-image:image-url("sf/bitcoin.svg")!important;}
.sf-book-bookmark{background-image:image-url("sf/book-bookmark.svg")!important;}
.sf-book{background-image:image-url("sf/book.svg")!important;}
.sf-box-full{background-image:image-url("sf/box-full.svg")!important;}
.sf-box-in{background-image:image-url("sf/box-in.svg")!important;}
.sf-box-out{background-image:image-url("sf/box-out.svg")!important;}
.sf-box{background-image:image-url("sf/box.svg")!important;}
.sf-brick-alt{background-image:image-url("sf/brick-alt.svg")!important;}
.sf-brick{background-image:image-url("sf/brick.svg")!important;}
.sf-bubble{background-image:image-url("sf/bubble.svg")!important;}
.sf-bubbles-alt{background-image:image-url("sf/bubbles-alt.svg")!important;}
.sf-bubbles{background-image:image-url("sf/bubbles.svg")!important;}
.sf-building{background-image:image-url("sf/building.svg")!important;}
.sf-bullhorn{background-image:image-url("sf/bullhorn.svg")!important;}
.sf-calculator{background-image:image-url("sf/calculator.svg")!important;}
.sf-calendar-clock{background-image:image-url("sf/calendar-clock.svg")!important;}
.sf-calendar{background-image:image-url("sf/calendar.svg")!important;}
.sf-carton{background-image:image-url("sf/carton.svg")!important;}
.sf-cat{background-image:image-url("sf/cat.svg")!important;}
.sf-clock{background-image:image-url("sf/clock.svg")!important;}
.sf-cloud-down{background-image:image-url("sf/cloud-down.svg")!important;}
.sf-cloud-sync{background-image:image-url("sf/cloud-sync.svg")!important;}
.sf-cloud-up{background-image:image-url("sf/cloud-up.svg")!important;}
.sf-cloud{background-image:image-url("sf/cloud.svg")!important;}
.sf-cog{background-image:image-url("sf/cog.svg")!important;}
.sf-cogs{background-image:image-url("sf/cogs.svg")!important;}
.sf-compass{background-image:image-url("sf/compass.svg")!important;}
.sf-cone{background-image:image-url("sf/cone.svg")!important;}
.sf-dashboard-alt{background-image:image-url("sf/dashboard-alt.svg")!important;}
.sf-dashboard{background-image:image-url("sf/dashboard.svg")!important;}
.sf-database{background-image:image-url("sf/database.svg")!important;}
.sf-device-camera{background-image:image-url("sf/device-camera.svg")!important;}
.sf-device-computer{background-image:image-url("sf/device-computer.svg")!important;}
.sf-device-drive{background-image:image-url("sf/device-drive.svg")!important;}
.sf-device-laptop{background-image:image-url("sf/device-laptop.svg")!important;}
.sf-device-mobile-phone{background-image:image-url("sf/device-mobile-phone.svg")!important;}
.sf-device-tablet{background-image:image-url("sf/device-tablet.svg")!important;}
.sf-device-tv{background-image:image-url("sf/device-tv.svg")!important;}
.sf-disc-vinyl{background-image:image-url("sf/disc-vinyl.svg")!important;}
.sf-disc{background-image:image-url("sf/disc.svg")!important;}
.sf-drop{background-image:image-url("sf/drop.svg")!important;}
.sf-envelope-letter{background-image:image-url("sf/envelope-letter.svg")!important;}
.sf-envelope{background-image:image-url("sf/envelope.svg")!important;}
.sf-file-bookmark{background-image:image-url("sf/file-bookmark.svg")!important;}
.sf-file-code{background-image:image-url("sf/file-code.svg")!important;}
.sf-file-empty{background-image:image-url("sf/file-empty.svg")!important;}
.sf-file-excel{background-image:image-url("sf/file-excel.svg")!important;}
.sf-file-exe{background-image:image-url("sf/file-exe.svg")!important;}
.sf-file-font{background-image:image-url("sf/file-font.svg")!important;}
.sf-file-illustrator{background-image:image-url("sf/file-illustrator.svg")!important;}
.sf-file-indesign{background-image:image-url("sf/file-indesign.svg")!important;}
.sf-file-link{background-image:image-url("sf/file-link.svg")!important;}
.sf-file-note{background-image:image-url("sf/file-note.svg")!important;}
.sf-file-pdf{background-image:image-url("sf/file-pdf.svg")!important;}
.sf-file-photoshop{background-image:image-url("sf/file-photoshop.svg")!important;}
.sf-file-picture{background-image:image-url("sf/file-picture.svg")!important;}
.sf-file-powerpoint{background-image:image-url("sf/file-powerpoint.svg")!important;}
.sf-file-premiere{background-image:image-url("sf/file-premiere.svg")!important;}
.sf-file-sound{background-image:image-url("sf/file-sound.svg")!important;}
.sf-file-text{background-image:image-url("sf/file-text.svg")!important;}
.sf-file-video{background-image:image-url("sf/file-video.svg")!important;}
.sf-file-word{background-image:image-url("sf/file-word.svg")!important;}
.sf-file-zip{background-image:image-url("sf/file-zip.svg")!important;}
.sf-flag-alt{background-image:image-url("sf/flag-alt.svg")!important;}
.sf-flag{background-image:image-url("sf/flag.svg")!important;}
.sf-flask{background-image:image-url("sf/flask.svg")!important;}
.sf-floppy{background-image:image-url("sf/floppy.svg")!important;}
.sf-flower{background-image:image-url("sf/flower.svg")!important;}
.sf-folder-document{background-image:image-url("sf/folder-document.svg")!important;}
.sf-folder-house{background-image:image-url("sf/folder-house.svg")!important;}
.sf-folder-music{background-image:image-url("sf/folder-music.svg")!important;}
.sf-folder-picture{background-image:image-url("sf/folder-picture.svg")!important;}
.sf-folder-video{background-image:image-url("sf/folder-video.svg")!important;}
.sf-folder{background-image:image-url("sf/folder.svg")!important;}
.sf-funnel{background-image:image-url("sf/funnel.svg")!important;}
.sf-gamepad{background-image:image-url("sf/gamepad.svg")!important;}
.sf-gift{background-image:image-url("sf/gift.svg")!important;}
.sf-globe{background-image:image-url("sf/globe.svg")!important;}
.sf-handshake{background-image:image-url("sf/handshake.svg")!important;}
.sf-headphone{background-image:image-url("sf/headphone.svg")!important;}
.sf-heart{background-image:image-url("sf/heart.svg")!important;}
.sf-house{background-image:image-url("sf/house.svg")!important;}
.sf-institution{background-image:image-url("sf/institution.svg")!important;}
.sf-key{background-image:image-url("sf/key.svg")!important;}
.sf-keyring{background-image:image-url("sf/keyring.svg")!important;}
.sf-layers{background-image:image-url("sf/layers.svg")!important;}
.sf-life-buoy{background-image:image-url("sf/life-buoy.svg")!important;}
.sf-light-bulb{background-image:image-url("sf/light-bulb.svg")!important;}
.sf-lightning{background-image:image-url("sf/lightning.svg")!important;}
.sf-lock-open{background-image:image-url("sf/lock-open.svg")!important;}
.sf-lock{background-image:image-url("sf/lock.svg")!important;}
.sf-magnify-less{background-image:image-url("sf/magnify-less.svg")!important;}
.sf-magnify{background-image:image-url("sf/magnify.svg")!important;}
.sf-map-map-marker{background-image:image-url("sf/map-map-marker.svg")!important;}
.sf-map-marker{background-image:image-url("sf/map-marker.svg")!important;}
.sf-map{background-image:image-url("sf/map.svg")!important;}
.sf-microphone{background-image:image-url("sf/microphone.svg")!important;}
.sf-mixer{background-image:image-url("sf/mixer.svg")!important;}
.sf-money{background-image:image-url("sf/money.svg")!important;}
.sf-monitor{background-image:image-url("sf/monitor.svg")!important;}
.sf-news{background-image:image-url("sf/news.svg")!important;}
.sf-notepad{background-image:image-url("sf/notepad.svg")!important;}
.sf-paper-plane{background-image:image-url("sf/paper-plane.svg")!important;}
.sf-paperclip{background-image:image-url("sf/paperclip.svg")!important;}
.sf-pencil{background-image:image-url("sf/pencil.svg")!important;}
.sf-phone{background-image:image-url("sf/phone.svg")!important;}
.sf-pin{background-image:image-url("sf/pin.svg")!important;}
.sf-post-it{background-image:image-url("sf/post-it.svg")!important;}
.sf-profile-group{background-image:image-url("sf/profile-group.svg")!important;}
.sf-profile{background-image:image-url("sf/profile.svg")!important;}
.sf-puzzle{background-image:image-url("sf/puzzle.svg")!important;}
.sf-radio{background-image:image-url("sf/radio.svg")!important;}
.sf-rss{background-image:image-url("sf/rss.svg")!important;}
.sf-safe{background-image:image-url("sf/safe.svg")!important;}
.sf-search{background-image:image-url("sf/search.svg")!important;}
.sf-shield-error{background-image:image-url("sf/shield-error.svg")!important;}
.sf-shield-ok{background-image:image-url("sf/shield-ok.svg")!important;}
.sf-shield-warning{background-image:image-url("sf/shield-warning.svg")!important;}
.sf-shield{background-image:image-url("sf/shield.svg")!important;}
.sf-shop{background-image:image-url("sf/shop.svg")!important;}
.sf-sign-add{background-image:image-url("sf/sign-add.svg")!important;}
.sf-sign-ban{background-image:image-url("sf/sign-ban.svg")!important;}
.sf-sign-check{background-image:image-url("sf/sign-check.svg")!important;}
.sf-sign-delete{background-image:image-url("sf/sign-delete.svg")!important;}
.sf-sign-down{background-image:image-url("sf/sign-down.svg")!important;}
.sf-sign-error{background-image:image-url("sf/sign-error.svg")!important;}
.sf-sign-info{background-image:image-url("sf/sign-info.svg")!important;}
.sf-sign-left{background-image:image-url("sf/sign-left.svg")!important;}
.sf-sign-question{background-image:image-url("sf/sign-question.svg")!important;}
.sf-sign-right{background-image:image-url("sf/sign-right.svg")!important;}
.sf-sign-sync{background-image:image-url("sf/sign-sync.svg")!important;}
.sf-sign-up{background-image:image-url("sf/sign-up.svg")!important;}
.sf-sign-warning{background-image:image-url("sf/sign-warning.svg")!important;}
.sf-skull{background-image:image-url("sf/skull.svg")!important;}
.sf-snow-flake{background-image:image-url("sf/snow-flake.svg")!important;}
.sf-social-facebook{background-image:image-url("sf/social-facebook.svg")!important;}
.sf-social-google-plus{background-image:image-url("sf/social-google-plus.svg")!important;}
.sf-social-twitter{background-image:image-url("sf/social-twitter.svg")!important;}
.sf-social-youtube{background-image:image-url("sf/social-youtube.svg")!important;}
.sf-stamp{background-image:image-url("sf/stamp.svg")!important;}
.sf-star-alt{background-image:image-url("sf/star-alt.svg")!important;}
.sf-star{background-image:image-url("sf/star.svg")!important;}
.sf-sun{background-image:image-url("sf/sun.svg")!important;}
.sf-switch-off{background-image:image-url("sf/switch-off.svg")!important;}
.sf-switch-on{background-image:image-url("sf/switch-on.svg")!important;}
.sf-tag-alt{background-image:image-url("sf/tag-alt.svg")!important;}
.sf-tag{background-image:image-url("sf/tag.svg")!important;}
.sf-terminal{background-image:image-url("sf/terminal.svg")!important;}
.sf-thumb-up{background-image:image-url("sf/thumb-up.svg")!important;}
.sf-trashcan-full{background-image:image-url("sf/trashcan-full.svg")!important;}
.sf-trashcan{background-image:image-url("sf/trashcan.svg")!important;}
.sf-user-female-alt{background-image:image-url("sf/user-female-alt.svg")!important;}
.sf-user-female{background-image:image-url("sf/user-female.svg")!important;}
.sf-user-id{background-image:image-url("sf/user-id.svg")!important;}
.sf-user-male-alt{background-image:image-url("sf/user-male-alt.svg")!important;}
.sf-user-male{background-image:image-url("sf/user-male.svg")!important;}
.sf-webcam{background-image:image-url("sf/webcam.svg")!important;}
.sf-window-layout{background-image:image-url("sf/window-layout.svg")!important;}
.sf-window-system{background-image:image-url("sf/window-system.svg")!important;}
.sf-window{background-image:image-url("sf/window.svg")!important;}
.sf-wine{background-image:image-url("sf/wine.svg")!important;}
.sf-wrench-screwdriver{background-image:image-url("sf/wrench-screwdriver.svg")!important;}
.sf-wrench{background-image:image-url("sf/wrench.svg")!important;}
